[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
django-smart-selects = "*"
django-heroku = "*"
gunicorn = "*"
python-decouple = "*"
xhtml2pdf = "*"

[dev-packages]

[requires]
python_version = "3.9"
